<h1> <%= @card.name %> </h1>

<hr>

<img src= <%= @card.images.small %> >


<hr>

<%if @card.rules == nil %>
   <h2> No Text </h2>
  <% else %>
  <h2> Text </h2>
  <%= @card.rules.at(0) %>

  <% if @card.rules.at(1) == nil %>
    <% #Blank %>
  <% else %>
    <div>
    <%= @card.rules.at(1) %>
    </div>
  <% end %>
<% end %>


<hr>
<%if @card.abilities == nil %>
   <h2> No Ability </h2>
  <% else %>
  <h2> Ability </h2>
  <%= @card.abilities.at(0).text %>

  <% if @card.abilities.at(1) == nil %>
    <% #Blank %>
  <% else %>
    <div>
    <%= @card.abilities.at(1).text %>
    </div>
  <% end %>
<% end %>

<hr>
<%if @card.attacks == nil %>
<h2> No Attacks </h2>
<% else %>
<h2> Attacks </h2>
<table class="table" border="1">
  <tr>
    <th>
      Attack Name
    </th>
    <th>
     Text
    </th>
     <th>
     Damage
    </th>
     <th>
     Energy Cost
    </th>
  </tr>

<% @card.attacks.each do |attack| %>
<tr>
  <th>
    <%= attack.name %>
  </th>

  <th>
    <%= attack.text %>
  </th>
  <th>
    <%= attack.damage.to_i %>
  </th>

  <th>
    <%= attack.cost %>
  </th>

</tr>
<% end %>

</table>
 <% end %>

<hr>

<h2> Card Format Legality </h2>
<table class="table" border="1">
  <tr>
    <th>
      Standard
    </th>
    <th>
     Expanded
    </th>
     <th>
     Unlimited
    </th>
  </tr>
  <tr>
  <th>
<% if @card.legalities.standard == nil %>
      Rotated out 
    <% else %>
   <%= @card.legalities.standard %>
   <% end %>
  </th>

  <th>
   <% if @card.legalities.expanded == nil %>
      Rotated out 
    <% else %>
   <%= @card.legalities.expanded %>
   <% end %>
  </th>
  <th>
    <%= @card.legalities.unlimited %>
  </th>
  </tr>
</table>
<hr>

<div>

<% if session.fetch( :user_id) == nil  %>
 <h2> Login to create decklist </h2>

 <% else %>

 <h2> Decklist </h2>
  <form action="/insert_card"  method="post">

  <input type="hidden" value="<%= @card.id %>" id="card_id_box" name="query_card_id">
        <label for="quantity_box">
          Quantity
        </label>
  <select name="query_quantity" id="quantity_box">
  <option value= 1>
    1
    </option>

  <option value= 2>
    2
  </option>
    <option value= 3>
    3
  </option>
    <option value= 4>
    4
  </option>
  </select>
      <div>
      <button>
        Add to decklist!
      </button>
    </div>

    </form>

 <% end %>
</div>



