<h1> Choose a card type </h1>



  <h2> Card Type </h2>
    <ul>
      <li>
        <a href="/types/<%=  @types.at(0) %>" >
        <%=  @types.at(0) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(1) %>" >
        <%=  @types.at(1) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(2) %>" >
        <%=  @types.at(2) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(3) %>" >
        <%=  @types.at(3) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(4) %>" >
        <%=  @types.at(4) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(5) %>" >
        <%=  @types.at(5) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(6) %>" >
        <%=  @types.at(6) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(7) %>" >
        <%=  @types.at(7) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(8) %>" >
        <%=  @types.at(8) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @types.at(9) %>" >
        <%=  @types.at(9) %>
        </a>
      </li>
      <li>
      <a href="/types/<%=  @types.at(10) %>" >
        <%=  @types.at(10) %>
        </a>
      </li>

      <li>
      <a href="/types/<%=  @supertypes.at(2) %>" >
        <%=  @supertypes.at(2) %>
        </a>
      </li> 

      <li>
      <a href="/types/<%=  @supertypes.at(0) %>" >
        <%=  @supertypes.at(0) %>
        </a>
      </li>

      </ul>




