<h1> Choose a card type </h1>



  <h2> Card Type </h2>
    <ul>
      <li>
        <%=  @types.at(0) %>
      </li>

      <li>
        <%=  @types.at(1) %>
      </li>

      <li>
        <%=  @types.at(2) %>
      </li>

      <li>
        <%=  @types.at(3) %>
      </li>

      <li>
        <%=  @types.at(4) %>
      </li>

      <li>
        <%=  @types.at(5) %>
      </li>

      <li>
        <%=  @types.at(6) %>
      </li>

      <li>
        <%=  @types.at(7) %>
      </li>

      <li>
        <%=  @types.at(8) %>
      </li>

      <li>
        <%=  @types.at(9) %>
      </li>
      <li>
        <%=  @types.at(10) %>
      </li>

      <li>
        <%=  @supertypes.at(2) %>
      </li> 

      <li>
        <%=  @supertypes.at(0) %>
      </li>

      </ul>




