<!DOCTYPE html>
<html>
  <head>
    <title>PokemonDeckBuilder</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
   <body>
<a href="/" >
   Homepage
   </a>

  <% session.fetch(:user_id) %>
  <% if session.fetch( :user_id) == nil  %>
   <div>
 <a href="/sign_up" >
   Sign Up
   </a>
   </div>
<div>
 <a href="/sign_in" >
   Login
   </a>
</div>

<% else %>
<div>
 <a href="/decklist" >
   My Decklist
   </a>
   </div>
<div>
 <a href="/sign_out" >
   Sign Out
   </a>
</div>

<%end %>
   <hr>


<% if notice.present? %>
<div style="border: thin green solid; color: green">
<%= notice %>
</div>
<% end %>

<% if alert.present? %>
<div style="border: thin red solid; color: red">
<%= alert %>
</div>
<% end %>

<img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Pok%C3%A9mon_Trading_Card_Game_logo.svg/1200px-Pok%C3%A9mon_Trading_Card_Game_logo.svg.png" width="200" height="100" alt=""> 

<hr>

 
    <%= yield %>
    
<hr>

        <footer>
        <div>
      <small>
        <a href="https://www.pokemon.com/us/pokemon-tcg/" target="_blank" >
        Find out more at Pokemon.com 
        </a>
      </small>
      </div>
          <div>
      <small>
        <a href="https://www.pokemon.com/us/pokemon-tcg/play-online/" target="_blank" >
        Play the game on Pokemon TCG Online.
        </a>
      </small>
      </div>
<div>
<small>
  <p>Card data source from the <a href="https://pokemontcg.io" target="_blank">Pokémon TCG API</a></p>
  </small>
  <small>
<p>
This website is not produced, endorsed, supported, or affiliated with Nintendo or The Pokémon Company. Please support the official release.
</p>
</small>
</div>

    </footer>
  </body>
</html>
